
<div class="beer-main-image">
    <img src="/images/beer.png" class="image" alt="glass of beer">
    <button id="check-beers-btn" class="btn"><a href="/beers">Check the Beers!</a></button>
    <button id="check-random-beer-btn" class="btn"><a href="/random-beer">Check a Random Beer!</a></button>
</div>
